h1 {
    margin-top: 110px;
    text-align: center;
}

hr {
    width: 1150px;
}


.formContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__form {
        width: 300px;
    }
    &__table {
        width: 600px;

    }
}