<!--Contenedor del Formulario-->


    <form (ngSubmit)="createUser()" [formGroup]="myForm" autocomplete="off" class="form">

        <h1>Formulario de Registro</h1>

        <!--Campo del nombre del usuario-->
        <p>
            <mat-hint>Nombre de Usuario</mat-hint> <br>
            <mat-form-field appearance="fill">
                <mat-label>Nombre de Usuario</mat-label>
                <input matInput 
                       placeholder="User name"
                       formControlName="username" 
                       >
            </mat-form-field>

            <span *ngIf="fieldNoValid('username')">
                Debe de tener mínimo 3 caracteres
            </span>
        </p>

        <!--Campo de la contraseña-->
        <p>
            <mat-hint>Contraseña</mat-hint> <br>
            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput
                       formControlName="password" 
                       [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <span *ngIf="fieldNoValid('password')">
                Debe de tener 6 caracteres mínimo
            </span>
        </p>

        <!--Campo para confirmar la contraseña-->
        <p>
            <mat-hint>Repita la contraseña</mat-hint> <br>
            <mat-form-field appearance="fill">
                <mat-label>Repita la contraseña</mat-label>
                <input matInput
                       formControlName="password2" 
                       [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <span *ngIf="fieldNoValid('password2')">
                Las contraseñas deben de ser iguales
            </span>
        </p>

        <!--Campo para el email-->
        <p>
            <mat-hint>Email</mat-hint> <br>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="pat@example.com"
                                formControlName="email"
                                required>
                <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
            </mat-form-field>

            <span *ngIf="fieldNoValid('email')">
                Debe de ser un email válido
            </span>
        </p>


        <!--Campo opcional para suscribirse-->
        <p>
            <mat-checkbox formControlName="offers"
            checked="true">Enviarme ofertas promocionales</mat-checkbox>
        </p>


        <!--Campo para el desplegable del pais-->
        <p>
            <mat-hint>País</mat-hint> <br>
            <mat-form-field appearance="fill">
                <mat-label>País</mat-label>
                    <mat-select formControlName="coutry"
                        required>
                        
                        <mat-option 
                                    *ngFor="let countries of coutry"
                                    [value]="countries">
                                        {{ countries }}          
                        </mat-option>
                    </mat-select>
                    
            </mat-form-field>
        </p>

        <!--Campo para introducir la ciudad-->
        <p>
            <mat-hint>Ciudad</mat-hint> <br>
            <mat-form-field appearance="fill">
                <mat-label>Ciudad</mat-label>
                <input matInput placeholder="Ciudad"
                                formControlName="city"
                                required>
            </mat-form-field>

            <span *ngIf="fieldNoValid('email')">
                Debe de ser un email válido
            </span>
        </p>

        <!--Botón para crear/modificar un usuario-->
        <p>
            <button mat-raised-button color="primary"
                    type="submit"
                   >Crear</button>
        </p>
        
    </form>

    <span>Valid</span>
    <pre>{{ myForm.valid }}</pre>
    <pre>{{ myForm.errors | json}}</pre>

    <span>Pristine</span>
    <pre>{{ myForm.pristine }}</pre>

    <span>Touched</span>
    <pre>{{ myForm.touched }}</pre>

    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>
    
    



